@using Codr.Models.Posts
@using static Codr.Models.Posts.TextStyle
@model Post
<div class="post">
    @foreach (var component in Model.Components)
    {
        @switch (component)
        {
            case Heading h:
                <h1 class="content">@h.Content</h1>
                break;
            case Image image:
                <img class="post-image" src="@image.Url.ToString()" />
                break;
            case Text text:

                @foreach (var textComponent in text.Components)
                {
                    <span class="content @( string.Format("{0}{1}{2}{3}{4}{5}",
                        textComponent.Style.HasStyle(Bold) ? "bold" : "",
                        textComponent.Style.HasStyle(Underlined) ? " underlined" : "",
                        textComponent.Style.HasStyle(Italics) ? " italics" : "",
                        textComponent.Style.HasStyle(Strikethrough) ? " strikethrough" : "",
                        textComponent.Style.HasStyle(InlineCode) ? " inline-code" : "",
                        textComponent.Style.HasStyle(Spoiler) ? " spoiler" : ""
                        ) )">@textComponent.Content</span>
                    }
                break;
            case Link link:
                <a class="content" href=@link.Url.ToString()>@(link.Content ?? link.Url.ToString())</a>
                break;
            case Code code:
                <pre><code class=@(code.Language?.ToString().ToLower() ?? "plaintext")>@code.Content</code></pre>
                break;
        }
    }
</div>